* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
}

.container-full {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: gray;
    border-radius: 10px;
    width: 90%;
    padding: 20px 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 45%;
    height: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box h2 {
    position: absolute;
    top: 0;
    margin-top: 10px;
}

/* ---Animation 1--- */

#anim1 {
    padding: 0 10px;
}


.line {
    margin: 0 2px;
    width: 5px;
    background-color: lightgray;
    animation: line 0.5s linear infinite alternate-reverse;
}

.new-line {
    animation: new-line 0.25s linear infinite alternate-reverse;
}

@keyframes line {
    0% {
        opacity: 0.5;
        height: 10px;
    }

    100% {
        opacity: 1;
        height: 50px;
    }
}

@keyframes new-line {
    0% {
        height: 10px;
    }

    100% {
        height: 30px;
    }
}

/* ---Animation 2--- */

.circle {
    width: 10px;
    margin: 0 1px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50px;
}

#anim2>div {
    position: relative;
    display: table;
}

.new-circle {
    position: absolute;
    background-color: black;
    animation: new-circle 1s infinite alternate-reverse;
}

@keyframes new-circle {
    0% {
        left: 0;
    }

    20% {
        left: 12px;
    }

    40% {
        left: 24px;
    }

    60% {
        left: 36px;
    }

    80% {
        left: 48px;
    }

    100% {
        left: 60px;
    }
}

/* ---Animation 3--- */

#anim3 {
    position: relative;
    align-items: flex-end;
}

.square {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 5px;
    background-color: black;
    margin-bottom: 10px;
}

.first-square {
    position: absolute;
    left: 40%;
    animation: first-square 1.5s infinite;
}

.second-square {
    position: absolute;
    left: 45%;
    animation: second-square 1.5s infinite;
}

.third-square {
    position: absolute;
    left: 50%;
    animation: third-square 1.5s infinite;
}

.fourth-square {
    position: absolute;
    left: 55%;
    animation: fourth-square 1.5s infinite;
}

.fifth-square {
    position: absolute;
    left: 60%;
    animation: fifth-square 1.5s infinite;
}

@keyframes first-square {
    0% {
        bottom: 10px;
        transform: rotate(360deg);
    }

    33.33% {

        bottom: 20px;
        transform: rotate(360deg);
    }

    66.66% {
        bottom: 40px;
        background-color: gray;
    }

    99.99% {
        bottom: 10px;
    }
}

@keyframes second-square {
    0% {
        bottom: 10px;
        transform: rotate(360deg);
    }

    33.33% {

        bottom: 30px;
        transform: rotate(360deg);
    }

    66.66% {
        bottom: 60px;
        background-color: gray;
    }

    99.99% {
        bottom: 10px;
    }
}

@keyframes third-square {
    0% {
        bottom: 10px;
        transform: rotate(360deg);
    }

    33.33% {

        bottom: 40px;
        transform: rotate(360deg);
    }

    66.66% {
        bottom: 80px;
        background-color: gray;
    }

    99.99% {
        bottom: 10px;
    }
}

@keyframes fourth-square {
    0% {
        bottom: 10px;
        transform: rotate(360deg);
    }

    33.33% {

        bottom: 30px;
        transform: rotate(360deg);
    }

    66.66% {
        bottom: 60px;
        background-color: gray;
    }

    99.99% {
        bottom: 10px;
    }
}

@keyframes fifth-square {
    0% {
        bottom: 10px;
        transform: rotate(360deg);
    }

    33.33% {

        bottom: 20px;
        transform: rotate(360deg);
    }

    66.66% {
        bottom: 40px;
        background-color: gray;
    }

    99.99% {
        bottom: 10px;
    }
}

/* ---Animation 4--- */

.content-line {
    position: relative;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    background-color: lightgray;
    overflow: hidden;
}

.progress-line {
    position: absolute;
    border-radius: 5px;
    left: 140px;
    height: 5px;
    width: 20px;
    background-color: rgb(79, 79, 233);
    animation: progress-line 3s linear infinite;
}

@keyframes progress-line {
    0% {
        left: 0;
    }

    20% {
        left: 30px;
    }

    40% {
        left: 60px;
    }

    60% {
        left: 90px;
    }

    80% {
        left: 120px;
    }

    100% {
        left: 140px;
        filter: hue-rotate(360deg);
    }
}


/* ---Animation 5--- */

.content-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid lightgray;
    height: 75px;
    border-radius: 50%;
    width: 75px;
}

.progress-circle {
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid rgb(76, 169, 76);
    border-bottom: 5px solid rgb(76, 169, 76);
    height: 50px;
    border-radius: 50%;
    width: 50px;
    animation: progress-circle 2s linear infinite;
}

.min-circle {
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid rgb(76, 169, 76);
    border-bottom: 5px solid rgb(76, 169, 76);
    height: 10px;
    border-radius: 50%;
    width: 10px;
    animation: progress-circle 2s linear infinite;
}



@keyframes progress-circle {
    0% {
        transform: rotate(0);
    }

    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

/* ---Animation 6--- */
.card {
    width: 50px;
    height: 75px;
    background-color: black;
    border-radius: 5px;
    animation: card 1s linear infinite;
}

@keyframes card {
    from {
        transform: rotateY(0);
    }

    to {
        background-color: grey;
        transform: rotateY(360deg);
    }
}

@media only screen and (max-width:500px) {
    .box {
        width: 95%;
    }
}

@media only screen and (min-width:500px) {
    .box {
        width: 95%;
    }
}

@media only screen and (min-width:768px) {
    .box {
        width: 45%;
    }
}